<form id="form">
  <section>
    <div class="section-title">
      <h1>1</h1>
      <h2>Basic Info</h2>
    </div>

    <div class="inputs">
      <div class="row-container start">
        <label>
          <span class="required-tag">*</span>Service:
        </label>
        <select name="readingOptions" [formControl]="chosenReading">
          <option *ngFor="let option of readings" [ngValue]="option">
            {{option}}
          </option>
        </select>
      </div>

      <div class="row-container start">
        <label for="firstName">
          <span class="required-tag">*</span>First Name:
        </label>
        <input id="firstName" type="text" [formControl]="firstName">
      </div>

      <div class="row-container start">
        <label for="lastName">
          <span class="required-tag">*</span>Last Name:
        </label>
        <input id="lastName" type="text" [formControl]="lastName">
      </div>
    </div>
  </section>

  <section>
    <div class="section-title">
      <h1>2</h1>
      <h2>Additional Info</h2>
    </div>

    <div class="inputs">
      <div class="row-container start">
        <label for="additionalInfo">Additional Info: </label>
        <textarea id="additionalInfo" type="text" [formControl]="additionalInfo"></textarea>
      </div>
    </div>
  </section>

  <section>

    <div class="section-title">
      <h1>3</h1>
      <h2>Submit!</h2>
    </div>

    <div class="inputs">
      <div class="row-container">
        <button id="submit-button" type="submit">Submit</button>
      </div>
    </div>
  </section>
</form>