<app-header></app-header>

<main id="app-content">
  <section id="main-content">
    <p>Spiritual communication, fortune telling, or just simple q&a, I am an experienced medium with a strong connection
      to the otherworldly who is always happy to help with whatever my clients need.</p>

    <h1>Communication</h1>

    <p>Be it friend, family, loved ones, or you just wanna chat, I can help you commune with the world beyond safely.
      Exploring the extradordinary alone can be dangerous, you can trust me to guide you through it.</p>

    <h1>Fortunes</h1>

    <p>Let's be honest, you probably have some uncertanty or anxiety about the future, your want advice on how to
      improve your fate. Thankfully, I can help a bit with that, using the powers of Cartomancy, Oneiromancy, Palmistry
      and more, I can help give some advice.</p>

    <h1>Q&A</h1>

    <p>Any questions about my craft, the otherworldly, or adivce for fellow mediums, I'm always happy to talk and answer
      whatever you need.</p>
  </section>

  <div id="star-border-right"></div>

  <aside id="contact-content">
    <div>
      <button>Book an Appointment</button>
    </div>
    <div id="star-border-bottom"></div>
    <img src="/assets/bethcard.png" />
  </aside>
</main>

<router-outlet></router-outlet>