/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

body {
  overflow-x: hidden;
  margin: 0;
  background-color: black;
}

*::-webkit-scrollbar {
  background: #b38db7;
  outline: 4px solid #1c1c31;

  @media only screen and (max-width: 425px) {
    outline: 1px solid #1c1c31;
    width: 8px;
  }
}

*::-webkit-scrollbar-track {
  background: #b38db7;
}

*::-webkit-scrollbar-thumb {
  background: #1c1c31;
  border: 2px solid #b38db7;
  border-radius: 10px;

  @media only screen and (max-width: 425px) {
    border: 1px solid #b38db7;
  }
}